<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>
  <div class="form-group row mt-4">
    
    <div class="col-sm-2">
      <%= f.label :title, class: "col-form-label" %>
    </div>
    
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of the article" %>
    </div>
  </div>
  
  <div class="form-group row">
    
    <div class="col-sm-2">
      <%= f.label :description, class: "col-form-label" %>
    </div>
    
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", rows: "10", placeholder: "Description of the article" %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  
  

<% end %>

<p>
  <%= link_to 'â† Back to article listing', articles_path %>  
</p>