<% if @article.errors.any?  %>
  <h2>The following errors preventing the article getting created</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |f| %>
  <div class="form-group row mt-4">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of the article" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :description, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", rows: "10", placeholder: "Description of the article" %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  
  

<% end %>

<p>
  <%= link_to 'â† Back to article listing', articles_path %>  
</p>