<h1><%= @article.title %></h1>

  <% if @article.user %>
    <small>by <%= link_to @article.user.username, user_path(@article.user) %></small>
  <% end%>

<p class="lead"><%= simple_format(@article.description) %></p>

<hr>
<p>
  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-outline-info" %>
  <%= link_to 'Delete', article_path(@article), class: "btn btn-xs btn-outline-danger", method: :delete, data: { confirm: "Are you sure you want to delete the article?" } %>
</p>

<p>
  <%= link_to 'â† Back to article listing', articles_path %>  
</p>